<div class="inner cover">
            <h1 class="cover-heading">G151210051</h1>
            <p class="lead">Rümeysa Bingül 2-A</p>
            <p class="lead"></p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright Leyla ile Mecnun - Tüm hakları saklıdır, <a href="https://www.facebook.com/LeylaileMecnunTr/?fref=ts">@@leylailemecnunfacebook</a>.</p>
            </div>
          </div>